.slick-prev:before, 
.slick-next:before {
  color: #227c7c;
}

.slick-prev:hover:before, 
.slick-next:hover:before {
  color: #154a4a; 
}

.card_slider{
    background-color: #cbc3c3;
    padding: 20px;
}